.card-category {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}


.category-color {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 10px;
}

.background {
  background-color: #dbe8f8;
  padding: 50px;
}
.btn-primary {
  background-color: #689fbd;
  border: none;
  margin-left: 50px;
}

.landing-container {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
background-color: #dbe8f8;
}

.landing-content {
text-align: center;
}

.button-container {
margin-top: 20px;
}

.btn-primary:hover {
background-color: #689fbd;
border-color: #689fbd;
}
